workflow.json
{
  "name": "Telegram → AI Video Pipeline",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Session Manager\n// Receives Telegram updates from the n8n Telegram Trigger node and tracks\n// 2-message session state per chat.\n// Message 1: Voice audio only\n// Message 2: Caption + One or more Video(s) → triggers pipeline\n// (First video = A-Roll, Others = B-Roll)\n\nconst TELEGRAM_BOT_TOKEN = \"8754596174:AAHVBRlpbtevRd0Lo55dK1rlleIyXJ6bXfc\";\n\n// The Telegram Trigger node exposes the update directly (not nested under .body)\nconst update = $input.first().json;\nconst message = update.message || update.edited_message || null;\n\nif (!message) {\n  return [{ json: { skip: true, reason: \"no message\" } }];\n}\n\nconst chatId = String(message.chat.id);\n\n// Load existing session from workflow static data\nconst staticData = $getWorkflowStaticData(\"global\");\nif (!staticData.sessions) staticData.sessions = {};\n\nlet session = staticData.sessions[chatId] || { step: 0 };\n\n// Prevent duplicate processing if already in progress (but allow new voice notes)\nif (session.step === 2 && !message.voice) {\n  return [{ json: { skip: true, reason: \"already processing\" } }];\n}\n\n// ── STEP 1: Voice message ──────────────────────────────────────────────────\nif (message.voice && (session.step === 0 || session.step === 2)) {\n  const fileId = message.voice.file_id;\n\n  // Resolve file path via Telegram API\n  const fileInfoResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/getFile?file_id=${fileId}`,\n  });\n\n  const filePath = fileInfoResp.result.file_path;\n  const audioUrl = `https://api.telegram.org/file/bot${TELEGRAM_BOT_TOKEN}/${filePath}`;\n\n  session = { step: 1, chatId, audioUrl, audioFileId: fileId, videos: [] };\n  staticData.sessions[chatId] = session;\n\n  // Acknowledge receipt\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: {\n      chat_id: chatId,\n      text: \"🎙️ Got your voice note!\\n\\nNow send a single message (or an album) with:\\n📝 Caption (as message text)\\n🎬 One main video (A-roll)\\n📸 One or more clips (B-roll)\",\n    },\n    json: true,\n  });\n\n  return [{ json: { skip: true, reason: \"waiting for step 2\" } }];\n}\n\n// ── STEP 2: Accumulate Caption + Videos ──────────────────────────────────\nif (session.step === 1) {\n  const currentCaption = message.caption || message.text || \"\";\n  const video = message.video;\n\n  let updated = false;\n\n  // 1. Accumulate Caption (if we don't have one yet)\n  if (currentCaption && !session.caption) {\n    session.caption = currentCaption;\n    updated = true;\n  }\n\n  // 2. Accumulate Video\n  if (video) {\n    const videoInfoResp = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/getFile?file_id=${video.file_id}`,\n    });\n    const videoUrl = `https://api.telegram.org/file/bot${TELEGRAM_BOT_TOKEN}/${videoInfoResp.result.file_path}`;\n\n    if (!session.videos) session.videos = [];\n    // Avoid duplicates by fileId\n    if (!session.videos.find(v => v.fileId === video.file_id)) {\n      session.videos.push({ fileId: video.file_id, url: videoUrl, duration: video.duration });\n      updated = true;\n    }\n  }\n\n  // Save updated session state\n  staticData.sessions[chatId] = session;\n\n  // 4. Check if we have everything needed to proceed\n  // We need a caption and at least 2 videos (1 A-roll + at least 1 B-roll)\n  const hasCaption = !!session.caption;\n  const videoCount = (session.videos || []).length;\n  const hasEnoughVideos = videoCount >= 2;\n\n  if (hasCaption && hasEnoughVideos) {\n    // TRIGGER PIPELINE\n    session.step = 2; // Move to \"processing\" state\n    staticData.sessions[chatId] = session;\n\n    await this.helpers.httpRequest({\n      method: \"POST\",\n      url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n      body: {\n        chat_id: chatId,\n        text: `⚙️ All assets received (${videoCount} videos)! Starting generation pipeline...\\n\\nThis may take a few minutes ☕`,\n      },\n      json: true,\n    });\n\n    return [{\n      json: {\n        skip: false,\n        chatId,\n        audioUrl: session.audioUrl,\n        videos: session.videos, // First is A-roll, others B-roll\n        rawCaption: session.caption,\n      },\n    }];\n  }\n\n  // 5. Still collecting\n  if (updated && !message.media_group_id) {\n    const missing = [];\n    if (!hasCaption) missing.push(\"📝 caption\");\n    if (videoCount === 0) missing.push(\"🎬 main video (A-roll)\");\n    if (videoCount === 1) missing.push(\"🎬 b-roll clips\");\n\n    await this.helpers.httpRequest({\n      method: \"POST\",\n      url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n      body: {\n        chat_id: chatId,\n        text: `📥 Received ${videoCount} video(s). Still missing: ${missing.join(\", \")}.`,\n      },\n      json: true,\n    });\n  }\n\n  return [{ json: { skip: true, reason: \"collecting assets\", hasCaption, videoCount } }];\n}\n\n// ── DEFAULT: Unexpected State Reset ───────────────────────────────────────\ndelete staticData.sessions[chatId];\nawait this.helpers.httpRequest({\n  method: \"POST\",\n  url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n  body: {\n    chat_id: chatId,\n    text: \"👋 Send a voice note to start! The bot will guide you through the next steps.\",\n  },\n  json: true,\n});\n\nreturn [{ json: { skip: true, reason: \"unexpected state reset\" } }];\n"
      },
      "id": "session-manager",
      "name": "Session Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "ready-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "skip-check",
      "name": "Ready to Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Transcribe Audio\n// Sends the Telegram voice note URL to Replicate's Whisper for transcription\n// Model: openai/whisper:8099696689d249cf8b122d833c36ac3f75505c666a395ca40ef26f68e7d3d16e\n\nconst REPLICATE_API_TOKEN = \"r8_cYkGtnlW5dT9h0e6aThUBTtP1mhZ3Y33AgHUy\";\n\nconst { audioUrl, chatId, videos, rawCaption } = $input.first().json;\n\n// ── Step 1: Submit Transcription to Replicate ────────────────────────────\n// We use \"Prefer: wait\" to try and get a synchronous response for short clips.\nconst submitResp = await this.helpers.httpRequest({\n  method: \"POST\",\n  url: \"https://api.replicate.com/v1/models/openai/whisper/predictions\",\n  headers: {\n    Authorization: `Bearer ${REPLICATE_API_TOKEN}`,\n    \"Content-Type\": \"application/json\",\n    \"Prefer\": \"wait\",\n  },\n  body: {\n    input: {\n      audio: audioUrl,\n      language: \"auto\",\n      translate: false,\n      temperature: 0,\n      transcription: \"plain text\",\n      suppress_tokens: \"-1\",\n      logprob_threshold: -1,\n      no_speech_threshold: 0.6,\n      condition_on_previous_text: true,\n      compression_ratio_threshold: 2.4,\n      temperature_increment_on_fallback: 0.2\n    },\n  },\n});\n\nlet transcription = \"\";\nlet status = submitResp.status;\nlet pollUrl = submitResp.urls?.get;\n\n// ── Step 2: Handle Immediate Success or Poll ─────────────────────────────\nif (status === \"succeeded\") {\n  transcription = submitResp.output?.transcription || submitResp.output || \"\";\n} else {\n  // If \"wait\" didn't finish, we poll\n  if (!pollUrl) throw new Error(\"Replicate did not return a poll URL: \" + JSON.stringify(submitResp));\n\n  for (let i = 0; i < 30; i++) {\n    await new Promise((r) => setTimeout(r, 5000));\n\n    const statusResp = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: pollUrl,\n      headers: { Authorization: `Bearer ${REPLICATE_API_TOKEN}` },\n    });\n\n    if (statusResp.status === \"succeeded\") {\n      transcription = statusResp.output?.transcription || statusResp.output || \"\";\n      break;\n    }\n\n    if (statusResp.status === \"failed\") {\n      throw new Error(\"Replicate transcription failed: \" + (statusResp.error || JSON.stringify(statusResp)));\n    }\n  }\n}\n\nif (!transcription) {\n  throw new Error(\"Failed to obtain transcription result\");\n}\n\nreturn [{\n  json: {\n    chatId,\n    audioUrl,\n    videos,\n    rawCaption,\n    transcription,\n  },\n}];\n"
      },
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Generate A-Roll via Replicate (Pixverse Lip-sync)\n// Uses the first video from the session as the talking head (A-roll).\n// Lipsyncs it with the provided audio via Replicate.\n\nconst REPLICATE_API_TOKEN = \"r8_cYkGtnlW5dT9h0e6aThUBTtP1mhZ3Y33AgHUy\";\n\nconst { chatId, audioUrl, videos, rawCaption, transcription } = $input.first().json;\n\nif (!videos || videos.length === 0) {\n  throw new Error(\"No videos found in session. Need at least one for A-Roll.\");\n}\n\n// First video in the list is the A-roll\nconst aRollSource = videos[0].url;\n\n// ── STEP 1: Submit Prediction to Replicate ──────────────────────────────\nconst submitResp = await this.helpers.httpRequest({\n  method: \"POST\",\n  url: \"https://api.replicate.com/v1/models/pixverse/lipsync/predictions\",\n  headers: {\n    Authorization: `Bearer ${REPLICATE_API_TOKEN}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: {\n    input: {\n      video: aRollSource,\n      audio: audioUrl,\n    },\n  },\n});\n\nconst predictionId = submitResp.id;\nconst pollUrl = submitResp.urls.get;\n\nif (!predictionId || !pollUrl) {\n  throw new Error(\"Replicate did not return prediction information: \" + JSON.stringify(submitResp));\n}\n\n// ── STEP 2: Poll for completion ─────────────────────────────────────────\nlet aRollUrl = null;\nfor (let i = 0; i < 60; i++) { // Max 10 minutes (Replicate can be slow)\n  await new Promise((r) => setTimeout(r, 10000)); // Poll every 10s\n\n  const statusResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: pollUrl,\n    headers: { Authorization: `Bearer ${REPLICATE_API_TOKEN}` },\n  });\n\n  if (statusResp.status === \"succeeded\") {\n    // Replicate output for pixverse/lipsync is usually the video URL string\n    aRollUrl = statusResp.output;\n    break;\n  }\n\n  if (statusResp.status === \"failed\") {\n    throw new Error(\"Replicate prediction failed: \" + (statusResp.error || JSON.stringify(statusResp)));\n  }\n\n  if (statusResp.status === \"canceled\") {\n    throw new Error(\"Replicate prediction was canceled.\");\n  }\n}\n\nif (!aRollUrl) {\n  throw new Error(\"Timeout waiting for Replicate lip-sync result\");\n}\n\nreturn [{\n  json: {\n    chatId,\n    aRollUrl,\n    videos, // Keep all videos, first is A-Roll source, others are B-Roll\n    rawCaption,\n    transcription,\n  },\n}];\n"
      },
      "id": "generate-aroll",
      "name": "Generate A-Roll (Pika Lip-Sync)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Analyze B-Roll & Create Edit Plan\n// Uses OpenRouter (GPT-4o vision) to analyze each b-roll video thumbnail,\n// then uses the transcription to plan when to insert each b-roll clip.\n\nconst OPENROUTER_API_KEY = \"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\";\nconst TELEGRAM_BOT_TOKEN = \"8754596174:AAHVBRlpbtevRd0Lo55dK1rlleIyXJ6bXfc\";\n\nconst { chatId, aRollUrl, videos, rawCaption, transcription } = $input.first().json;\n\n// ── Step 1: Describe each b-roll video (skip the first one as it's a-roll) ──\n// We isolate just the b-roll clips (everything after the first video)\nconst brollClips = videos.slice(1);\nconst videoDescriptions = [];\n\nfor (const vid of brollClips) {\n  const descResp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://openrouter.ai/api/v1/chat/completions\",\n    headers: {\n      Authorization: `Bearer ${OPENROUTER_API_KEY}`,\n      \"Content-Type\": \"application/json\",\n      \"HTTP-Referer\": \"https://n8n.workflow\",\n      \"X-Title\": \"Video Editor Bot\",\n    },\n    body: {\n      model: \"openai/gpt-4o\",\n      messages: [\n        {\n          role: \"user\",\n          content: [\n            {\n              type: \"text\",\n              text: `You are analyzing a b-roll video clip for a social media video editor.\nThe video URL is: ${vid.url}\nDuration: ${vid.duration || \"unknown\"} seconds\n\nBased on the URL and context, describe:\n1. What this b-roll clip likely shows (visual content, mood, setting)\n2. What topics it matches\n3. Ideal usage duration (2-5 seconds recommended)\n\nReturn JSON: {\"description\": \"...\", \"keywords\": [\"...\"], \"suggestedDuration\": 3}`,\n            },\n          ],\n        },\n      ],\n      max_tokens: 300,\n    },\n  });\n\n  let desc = { description: \"b-roll clip\", keywords: [], suggestedDuration: 3 };\n  try {\n    const raw = descResp.choices[0].message.content.replace(/```json|```/g, \"\").trim();\n    desc = JSON.parse(raw);\n  } catch (e) {\n    desc.description = descResp.choices[0]?.message?.content || \"b-roll clip\";\n  }\n\n  videoDescriptions.push({ ...vid, ...desc });\n}\n\n// ── Step 2: Create edit plan using transcription ───────────────────────────\nconst brollSummary = videoDescriptions\n  .map((v, i) => `Clip ${i}: \"${v.description}\" | keywords: ${v.keywords.join(\", \")} | suggested: ${v.suggestedDuration}s`)\n  .join(\"\\n\");\n\nconst planResp = await this.helpers.httpRequest({\n  method: \"POST\",\n  url: \"https://openrouter.ai/api/v1/chat/completions\",\n  headers: {\n    Authorization: `Bearer ${OPENROUTER_API_KEY}`,\n    \"Content-Type\": \"application/json\",\n    \"HTTP-Referer\": \"https://n8n.workflow\",\n    \"X-Title\": \"Video Editor Bot\",\n  },\n  body: {\n    model: \"openai/gpt-4o\",\n    messages: [\n      {\n        role: \"system\",\n        content: `You are a social media video editor. Plan b-roll inserts over an a-roll.\nRules:\n- First 3 seconds: always show speaker (a-roll)\n- B-roll should match speech\n- Inserts: 2-5 seconds\n- Return ONLY JSON`,\n      },\n      {\n        role: \"user\",\n        content: `TRANSCRIPTION:\n\"${transcription}\"\n\nAVAILABLE B-ROLL CLIPS:\n${brollSummary}\n\nCreate a b-roll edit plan.\nReturn JSON array: [{\"startTime\": 5, \"duration\": 3, \"clipIndex\": 0, \"reason\": \"...\"}]`,\n      },\n    ],\n    max_tokens: 800,\n  },\n});\n\nlet editPlan = [];\ntry {\n  const raw = planResp.choices[0].message.content.replace(/```json|```/g, \"\").trim();\n  editPlan = JSON.parse(raw);\n} catch (e) {\n  // fallback: insert clips evenly\n  editPlan = videoDescriptions.map((v, i) => ({\n    startTime: 4 + i * 6,\n    duration: v.suggestedDuration || 3,\n    clipIndex: i,\n    reason: \"evenly distributed fallback\",\n  }));\n}\n\nreturn [{\n  json: {\n    chatId,\n    aRollUrl,\n    brolls: videoDescriptions, // Renamed to brolls to be explicit\n    rawCaption,\n    transcription,\n    editPlan,\n  },\n}];\n"
      },
      "id": "analyze-broll",
      "name": "Analyze B-Roll & Edit Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Compose Final Video (Local FFmpeg)\n// Generates an FFmpeg command to composite b-roll over the talking head,\n// executes it locally, and passes the output file path forward.\n// Assumes FFmpeg is installed in the n8n environment.\n\nconst { execSync } = require('child_process');\nconst fs = require('fs');\n\nconst { chatId, aRollUrl, brolls, rawCaption, transcription, editPlan } = $input.first().json;\n\nif (!aRollUrl) throw new Error(\"Missing A-Roll URL for composition\");\n\n// ── Step 1: Build Input List ──────────────────────────────────────────────\nconst inputs = [`-i \"${aRollUrl}\"`];\nconst planWithInputs = [];\n\nfor (const plan of editPlan) {\n  const clip = brolls[plan.clipIndex];\n  if (clip) {\n    const inputIdx = inputs.length;\n    inputs.push(`-i \"${clip.url}\"`);\n    planWithInputs.push({ ...plan, inputIdx });\n  }\n}\n\n// ── Step 2: Build Filter Complex ──────────────────────────────────────────\nlet filterParts = [];\nlet prevOutput = \"[0:v]\";\nlet brollLayerIdx = 1;\n\nfor (const plan of planWithInputs) {\n  const scaledLabel = `scaled${plan.inputIdx}`;\n  const outLabel = `layer${brollLayerIdx}`;\n\n  filterParts.push(\n    `[${plan.inputIdx}:v]scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920,setsar=1[${scaledLabel}]`\n  );\n\n  filterParts.push(\n    `${prevOutput}[${scaledLabel}]overlay=0:0:enable='between(t,${plan.startTime},${plan.startTime + plan.duration})'[${outLabel}]`\n  );\n\n  prevOutput = `[${outLabel}]`;\n  brollLayerIdx++;\n}\n\nconst filterComplex = filterParts.join(\"; \");\nconst outputFilePath = `/tmp/final_${chatId || Date.now()}.mp4`;\n\n// ── Step 3: Construct Full Command ────────────────────────────────────────\nconst ffmpegCommand = [\n  \"ffmpeg -y\",\n  inputs.join(\" \"),\n  filterComplex ? `-filter_complex \"${filterComplex}\"` : \"\",\n  `-map \"${filterComplex ? prevOutput : '0:v'}\"`,\n  \"-map 0:a\",\n  \"-c:v libx264 -preset superfast -crf 23\",\n  \"-c:a aac -b:a 128k\",\n  \"-movflags +faststart\",\n  `-t 60`,\n  `\"${outputFilePath}\"`\n].filter(Boolean).join(\" \");\n\n// ── Step 4: Execute FFmpeg ────────────────────────────────────────────────\ntry {\n  execSync(ffmpegCommand, { timeout: 120000, stdio: 'pipe' });\n} catch (err) {\n  throw new Error(`FFmpeg execution failed: ${err.stderr?.toString() || err.message}`);\n}\n\nif (!fs.existsSync(outputFilePath)) {\n  throw new Error(`FFmpeg did not produce output file: ${outputFilePath}`);\n}\n\nreturn [{\n  json: {\n    chatId,\n    outputFilePath,\n    rawCaption,\n    transcription,\n    editPlan,\n  },\n}];\n"
      },
      "id": "compose-video",
      "name": "Compose Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Generate Caption & Send Final Video\n// Enriches the raw caption with AI, adds viral hashtags,\n// then uploads the local video file to Telegram.\n\nconst { execSync } = require('child_process');\nconst fs = require('fs');\n\nconst OPENROUTER_API_KEY = \"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\";\nconst TELEGRAM_BOT_TOKEN = \"8754596174:AAHVBRlpbtevRd0Lo55dK1rlleIyXJ6bXfc\";\n\nconst { chatId, outputFilePath, rawCaption, transcription, editPlan } = $input.first().json;\n\n// ── Step 1: Generate enriched caption ─────────────────────────────────────\nconst captionResp = await this.helpers.httpRequest({\n  method: \"POST\",\n  url: \"https://openrouter.ai/api/v1/chat/completions\",\n  headers: {\n    Authorization: `Bearer ${OPENROUTER_API_KEY}`,\n    \"Content-Type\": \"application/json\",\n    \"HTTP-Referer\": \"https://n8n.workflow\",\n    \"X-Title\": \"Video Caption Generator\",\n  },\n  body: {\n    model: \"openai/gpt-4o\",\n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a viral social media content strategist specializing in short-form video (TikTok, Instagram Reels, YouTube Shorts).\\nYour job: take a raw video caption idea + transcript and turn it into a hook-driven, engaging caption with viral hashtags.\\n\\nRules:\\n- Start with a strong hook (first line = stop-the-scroll)\\n- Keep it under 150 words\\n- Natural, conversational tone\\n- End with 5-8 highly relevant hashtags (mix of niche + broad)\\n- Do not use emojis excessively (2-3 max)\\n- Return ONLY the final caption text, no explanations\",\n      },\n      {\n        role: \"user\",\n        content: `Raw caption idea: \"${rawCaption}\"\\n\\nVideo transcription (what I say in the video):\\n\"${transcription}\"\\n\\nWrite the viral caption with hashtags:`,\n      },\n    ],\n    max_tokens: 400,\n  },\n});\n\nconst viralCaption = captionResp.choices[0].message.content.trim();\n\n// ── Step 2: Build edit plan summary ───────────────────────────────────────\nconst planSummary = editPlan\n  .map(\n    (p, i) =>\n      `• B-roll ${p.clipIndex + 1} at ${p.startTime}s for ${p.duration}s — ${p.reason}`\n  )\n  .join(\"\\n\");\n\n// ── Step 3: Upload video file to Telegram ─────────────────────────────────\n// Write caption to a temp file to avoid shell-escaping issues with curl\nconst captionFile = `/tmp/caption_${chatId}.txt`;\nfs.writeFileSync(captionFile, viralCaption);\n\ntry {\n  const curlResult = execSync(\n    `curl -s -X POST \"https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendVideo\" ` +\n    `-F \"chat_id=${chatId}\" ` +\n    `-F \"video=@${outputFilePath}\" ` +\n    `-F \"caption=<${captionFile}\" ` +\n    `-F \"parse_mode=Markdown\" ` +\n    `-F \"supports_streaming=true\"`,\n    { timeout: 60000 }\n  ).toString();\n\n  const parsed = JSON.parse(curlResult);\n  if (!parsed.ok) {\n    throw new Error(`Telegram API error: ${curlResult}`);\n  }\n} catch (err) {\n  throw new Error(`Failed to send video to Telegram: ${err.message}`);\n}\n\n// ── Step 4: Send edit plan details as a follow-up message ─────────────────\nawait this.helpers.httpRequest({\n  method: \"POST\",\n  url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n  body: {\n    chat_id: chatId,\n    text: `✅ *Video ready!*\\n\\n*Edit Plan Used:*\\n${planSummary}\\n\\n*Caption Generated:*\\n${viralCaption}`,\n    parse_mode: \"Markdown\",\n  },\n  json: true,\n});\n\n// ── Step 5: Clean up temp files ───────────────────────────────────────────\ntry { fs.unlinkSync(outputFilePath); } catch (e) { }\ntry { fs.unlinkSync(captionFile); } catch (e) { }\n\nreturn [{\n  json: {\n    success: true,\n    chatId,\n    viralCaption,\n    editPlan,\n  },\n}];\n"
      },
      "id": "send-result",
      "name": "Generate Caption & Send Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Error Handler\n// Catches any pipeline error and sends a friendly message to the user\n\nconst TELEGRAM_BOT_TOKEN = \"8754596174:AAHVBRlpbtevRd0Lo55dK1rlleIyXJ6bXfc\";\n\n// Try to extract chatId from the last known good data\nconst inputData = $input.first().json;\nconst chatId = inputData.chatId || null;\n\nconst errorMessage = $input.first().error?.message || \"Unknown error\";\n\nif (chatId) {\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: {\n      chat_id: chatId,\n      text: `❌ Something went wrong during video generation.\\n\\nError: ${errorMessage}\\n\\nPlease try again by sending your voice note first.`,\n    },\n    json: true,\n  });\n}\n\nreturn [{ json: { handled: true, error: errorMessage } }];\n"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        560
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Session Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Manager": {
      "main": [
        [
          {
            "node": "Ready to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready to Process?": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Generate A-Roll (Pika Lip-Sync)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate A-Roll (Pika Lip-Sync)": {
      "main": [
        [
          {
            "node": "Analyze B-Roll & Edit Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze B-Roll & Edit Plan": {
      "main": [
        [
          {
            "node": "Compose Final Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Final Video": {
      "main": [
        [
          {
            "node": "Generate Caption & Send Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption & Send Video": {
      "main": [
        [],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}